@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#popup1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}
.popup {
  display: flex;
  position: absolute;
  top: 3vh;
  left: 3vw;
  width: 16%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(240, 253, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(212, 212, 212) ;
}
.popup-img {
  width: 24px;
  height: 24px;
}
.popup h3, popup-img, p {
  margin: 0;
}
#have-a-cookies {
  width: 10vw;
  color: orangered;
  display: inline-block;
  margin: 0 0.5rem;
  font-size: medium;
  text-align: center;

  animation: bounce;
  animation-duration: 2s;

}
.popup p {
  max-width: 60%;
  padding: 0px 10px 0px 10px;
  margin-right: 20px;
  text-align: justify;
  color: gray; 
}
.close-popup {
  text-decoration: none;
  color: tomato;
  align-self: flex-end;
  cursor: pointer;
}
.close-popup:hover {
  color: #06D85F;
}
/* Header */
.header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100px;
  margin: 50px 20vw 0px 20vw;
}
h1 {
  margin: 0 0 0 2vw;
  font-family: Poiret One;
  font-size: 75px;
  font-weight: lighter;
  color: tomato;
  display: inline-block;
  margin: 0 0.5rem;
  animation: hinge;
  animation-duration: 2s;
}
h1:hover {
  display: inline-block;
  margin: 0 0.5rem;
  animation: hinge;
  animation-duration: 2s;
}
.menu {
  margin-left: 7vw;
  justify-content: space-around;
}
.menu-btn {
  text-decoration: none;
  padding: 1vw;
  font-family: Open Sans;
  font-size: 115%;
  color: rgb(110, 110, 110);
}
.btn-3 {
  width: 100px;  
}
.menu-btn {
  display: inline-block;
  width: 80px;
  text-align: center;
  text-decoration: none;
}
.menu-btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: red;
  transition: all 0.2s;
}
.menu-btn:hover::after {
  transform: scaleX(1);
}
.header p {
  flex-wrap: wrap;
  flex-direction: column;
}
#header-title1 {
  width: 20vw;
  margin: 0px 0px 0px 32.5vw;
  padding: 0;
  font-family: Open Sans;
  color: rgb(110, 110, 110);
}
#header-title2 {
  margin-left: 32.5vw;
  width: 20vw;
  height: fit-content;
  font-family: Tangerine;
  font-size: xx-large;
  color: red;
} 
/* Main */
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.block-1 {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 620px;
  background-image: url(../img/people-singing.jpeg);
  background-repeat: no-repeat;
  align-content: center;
  background-size: 91%;
  background-position: 15% 15%;
  color: rgb(250, 107, 255);
  font-family: Monoton;
  font-size: 300%;
  justify-content: space-between;
  padding: 0px 50px;
}
.title-block-1 {
  margin: 1px;
  transform: translate(85px) rotate(-90deg);
}
.title-block-2 {
  color: rgb(110, 255, 255);
} 
.block-2 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 300px;
  margin: 60px 0;
  padding: 50px 12vw;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(185, 185, 185);
}
.img-b2 {
  display: flex;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(201, 201, 201);
}
#img-signup {
  background-image: url(../img/singer-lady.jpg);
  background-size: cover;
  opacity: 0.8;
}
.img-b2 a {
  padding: 0 0 0 14px;
  font-family: Open Sans;
  font-size: 180%;
  text-decoration: none;
  color: orangered;
}
.img-b2 a::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: orangered;
  transition: all 0.2s;
}
.img-b2 a:hover::after {
  transform: scaleX(1);
}
#img-classes {
  background-image: url(../img/sheets.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid white;
}
#img-about {
  background-image: url(../img/tutor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  background-position: bottom;
}
.block-3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  margin: 60px 0;
  padding: 0px 17vw;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
}
.wrapper-block-3 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.info-block {
  width: 100% ;
  height: 140px;
  padding: 20px 0;
}
.b-1 p {
  padding: 0px 30px 0 30px;
  text-align: justify;
}
.b-2 {
  /* margin-left: 15vw; */
  /* padding-left: 10.5vw; */
  font-family: Open Sans;
  font-size: 200%;
  font-weight: 600;
}
.b-2 p {
  margin-left: 12vw;
}
.b-2 h2 {
  margin: 0;
}
/* Footer */
.footer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 250px;
  margin: 0px 0;
  padding: 50px 5vw;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(121, 121, 121);
}
.info-footer {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 100%;
}
.info-footer h2 {
  margin: 0;
  height: 40px;
  font-family: Open Sans;
}
#b-3, #b-5 {
  margin: 0;
  /* padding-left: 3.9vw; */
  font-family: Open Sans;
  font-size: 90%;
  color: rgb(85, 85, 85);
}
#b-3 {
  width: 100%;
  padding-left: 10.7vw;
}
#b-4 {
  display: inline-block;
  display: none;
}
#b-5 {
  display: block;
  width: 100%;
  margin-left: 1.63vw;
  list-style-type: none;
}
#b-6 {
  display: inline-block;
  position: absolute;
  width: 100vw;
  left: 0px;
  bottom: 10px;
  padding: 12px 30px;
  background-color: rgb(175, 175, 175);
  color: white;
  font-family: Open Sans;
  font-weight: 100;
}
#footer-titles {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  font-size: 160%;
  font-family: Open Sans;
  font-weight: 600;
}