@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#popup1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  display: flex;
  position: absolute;
  /* left: 0; */
  top: 0;
  display: none;
  width: 70%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(240, 253, 255);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(212, 212, 212) ;
}
.popup-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.popup h3, popup-img, p {
  margin: 0;
}
h3 {
  width: 10vw;
  color: orangered;
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  animation-duration: 2s;

}
.popup p {
  max-width: 50%;
  padding: 0px 10px 0px 10px;
  margin-right: 20px;
  color: gray; 
}
.close {
  text-decoration: none;
  color: tomato;
  align-self: flex-start;
}
.close:hover {
  color: #06D85F;
}
/* Header */
.header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100px;
  margin: 50px 20vw 0px 20vw;
}
h1 {
  margin: 0 0 0 2vw;
  font-family: Poiret One;
  font-size: 75px;
  font-weight: lighter;
  color: tomato;
}
.menu {
  margin-left: 7vw;
  justify-content: space-around;
}
.menu-btn {
  text-decoration: none;
  padding: 1vw;
  font-family: Open Sans;
  font-size: 115%;
  color: rgb(110, 110, 110);
}
.btn-3 {
  width: 100px;  
}
.menu-btn {
  display: inline-block;
  width: 80px;
  text-align: center;
  text-decoration: none;
}
.menu-btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: red;
  transition: all 0.2s;
}
.menu-btn:hover::after {
  transform: scaleX(1);
}
.header p {
  flex-wrap: wrap;
  flex-direction: column;
}
#header-title1 {
  width: 20vw;
  margin: 0px 0px 0px 32.5vw;
  padding: 0;
  font-family: Open Sans;
  color: rgb(110, 110, 110);
}
#header-title2 {
  margin-left: 32.5vw;
  width: 20vw;
  height: fit-content;
  font-family: Tangerine;
  font-size: xx-large;
  color: red;
} 
/* Main */
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.block-1 {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 620px;
  background-image: url(../img/people-singing.jpeg);
  background-repeat: no-repeat;
  align-content: center;
  background-size: 100%;
  color: rgb(250, 107, 255);
  font-family: Monoton;
  font-size: 300%;
  justify-content: space-between;
  padding: 0px 50px;
}
.title-block-1 {
  margin: 1px;
  transform: translate(85px) rotate(-90deg);
}
.title-block-2 {
  color: rgb(110, 255, 255);
} 
.block-2 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 300px;
  margin: 60px 0;
  padding: 50px 15vw;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(240, 240, 240);
}
.img-b2 {
  display: flex;
  
  width: 20%;
  height: 100%;
}
#img-signup {
  background-image: url(../img/singer-lady.jpg);
  background-size: cover;
  opacity: 0.8;
}
.img-b2 a {
  padding: 0 0 0 12px;
  font-family: Open Sans;
  font-size: 180%;
  text-decoration: none;
  color: orangered;
}
.img-b2 a::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: white;
  transition: all 0.2s;
}
.img-b2 a:hover::after {
  transform: scaleX(1);
}